* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@mixin button {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  color: map-get($defaultButtonColor, color);
  background: map-get($defaultButtonColor, background);
  font-size: map-get($fontSize, btn);
  cursor: pointer;
  @media #{$not_sp} {
    &:hover {
      opacity: .8;
    }
  }
  &:focus {
    outline: none;
  }
  &-default {
    color: map-get($defaultButtonColor, color);
    background: map-get($defaultButtonColor, background);
  }
  &-main {
    color: map-get($mainButtonColor, color);
    background: map-get($mainButtonColor, background);
  }
  &-sub {
    color: map-get($subButtonColor, color);
    background: map-get($subButtonColor, background);
  }
  &-attention {
    color: map-get($attentionButtonColor, color);
    background: map-get($attentionButtonColor, background);
  }
  &.is-large {
    font-size: map-get($fontSize, btnOperators);
  }
  &.is-clear {
    color: map-get($attentionButtonColor, color);
    background: map-get($attentionButtonColor, background);
  }
  &.is-active {
    color: $color;
    background: $mainColor;
  }
}

$sp: "only screen and (max-width: 767px)";
$not_sp: "only screen and (min-width: 768px)";

$color: #fff;
$mainColor: #e8831c;
$subColor: rgba(148, 224, 130, .6);
$attentionColor: #eb1e3d;

$backgroundColors: (
  base: #222831,
  display: #393E46,
);

$defaultButtonColor: (
  color: $color,
  background: map-get($backgroundColors, base),
);

$mainButtonColor: (
  color: $mainColor,
  background: map-get($backgroundColors, base),
);

$subButtonColor: (
  color: $subColor,
  background: map-get($backgroundColors, base),
);

$attentionButtonColor: (
  color: $attentionColor,
  background: map-get($backgroundColors, base),
);

$fontSize: (
  title: 3.2rem,
  display: 4rem,
  displayLong: 3rem,
  displayLonger: 2.5rem,
  btn: 1.8rem,
  btnOperators: 2.5rem,
  history: 1.2rem,
  errors: 1.4rem,
);

$buttonSize: 70px;
$buttonHeight: $buttonSize * .8;
$buttonAreaHeight: $buttonHeight * 6;
