* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@mixin button {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  color: map-get($defaultButtonColor, color);
  background: map-get($defaultButtonColor, background);
  font-size: map-get($fontSize, btn);
  cursor: pointer;
  @media #{$not_sp} {
    &:hover {
      opacity: .8;
    }
  }
  &:focus {
    outline: none;
  }
  &-numbers {
    color: map-get($numberButtonColor, color);
    background: map-get($numberButtonColor, background);
  }
  &-actions {
    color: map-get($actionButtonColor, color);
    background: map-get($actionButtonColor, background);
  }
  &.is-clear {
    color: #fff;
    background: $attentionColor;
  }
  &.is-active {
    color: #fff;
    background: complement(map-get($defaultButtonColor, background))
  }
}

$sp: "only screen and (max-width: 767px)";
$not_sp: "only screen and (min-width: 768px)";

$backgroundColors: (
  base: #222831,
  display: #393E46,
);

$defaultButtonColor: (
  color: #fff,
  background: #e8831c,
);

$actionButtonColor: (
  color: #111,
  background: #aaa,
);
  
$numberButtonColor: (
  color: #111,
  background: #ddd,
);

$attentionColor: #eb1e3d;

$fontSize: (
  title: 3.2rem,
  display: 4rem,
  displayLong: 3rem,
  displayLonger: 2.5rem,
  btn: 1.8rem,
  history: 1.2rem,
  errors: 1.4rem,
);

$buttonSize: 70px;
$buttonHeight: $buttonSize * .8;
$buttonAreaHeight: $buttonHeight * 5 + $buttonSize * .6;
