* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@mixin button {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  color: map-get($defaultButtonColor, color);
  background: map-get($defaultButtonColor, background);
  font-size: map-get($fontSize, btn);
  cursor: pointer;
  &:disabled {}
  @media #{$not_sp} {
    &:hover {
      opacity: .8;
    }
  }
  &:focus {
    outline: none;
  }
  &-numbers {
    color: map-get($numberButtonColor, color);
    background: map-get($numberButtonColor, background);
  }
  &-actions {
    color: map-get($actionButtonColor, color);
    background: map-get($actionButtonColor, background);
  }
  &-small {
    color: $subColor;
    background: map-get($backgroundColors, base);
  }
  &-operators {
    font-size: map-get($fontSize, btnOperators);
  }
  &.is-clear {
    color: $attentionColor;
    background: map-get($backgroundColors, base);
  }
  &.is-active {
    color: $numberColor;
    background: $btnColor;
  }
}

$sp: "only screen and (max-width: 767px)";
$not_sp: "only screen and (min-width: 768px)";

$btnColor: #e8831c;
$numberColor: #fff;
$subColor: rgba(148, 224, 130, .6);
$attentionColor: #eb1e3d;

$backgroundColors: (
  base: #222831,
  display: #393E46,
);

$defaultButtonColor: (
  color: $btnColor,
  background: map-get($backgroundColors, base),
  );
  
$actionButtonColor: (
  color: $btnColor,
  background: map-get($backgroundColors, base),
);
  
$numberButtonColor: (
  color: $numberColor,
  background: map-get($backgroundColors, base),
);

$fontSize: (
  title: 3.2rem,
  display: 4rem,
  displayLong: 3rem,
  displayLonger: 2.5rem,
  btn: 1.8rem,
  btnOperators: 2.5rem,
  history: 1.2rem,
  errors: 1.4rem,
);

$buttonSize: 70px;
$buttonHeight: $buttonSize * .8;
$buttonAreaHeight: $buttonHeight * 6;
